DJANGO_ENV=dev
SECRET_KEY=

# PostgreSQL Credentials
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Groq AI
GROQ_API_KEY=

# Veryfi Receipt Scanning
VERYFI_API_BASE_URL=
VERYFI_API_CLIENT_ID=
VERYFI_API_USERNAME=
VERYFI_API_KEY=

# App / Feature Config
PROTOTYPE_APP_KEY=
EXPENSE_SCAN_MONTHLY_QUOTA=100
ExampleCheck=hey
